<!DOCTYPE HTML>

<html lang="cn" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">


    <head>
        <title>LOGIN</title>
        <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    </head>

    <!--先定义css样式，再给html的class属性赋值-->
    <style>
        .outer {
            width: 300px;
            height: 300px;
            background-color: lightpink;
            position: relative;
        }

        .inner {
            width: 200px;
            height: 200px;
            background-color: rebeccapurple;
            position: relative;
        }

        .cen {
            left: 30%;
            top: 50%;
            transform: translate(50%, 50%);
        }
    </style>
<body>


<hr/>


<div style="border:1px red solid;width:600px;height:600px; margin:auto;margin-top:5%;">


    <div>
        <h1>
            <center>用户名或密码错误</center>
        </h1>
        <br/>
    </div>

    <h2>
        <center>
            <form action="/login/form" method="post">
                用户名：
                <input id="username" name="username" value="admin" required="required" type="text"
                       placeholder="测试管理员账号：admin"/><br/>
                密&emsp;码：
                <input id="password" name="password" value="admin" required="required" type="password"
                       placeholder="测试管理员密码：admin"/><br/>
                <input id="loginBtn" type="submit" value="登录"/>
            </form>
        </center>
    </h2>
    <!--<center>  <h3><a href="http://localhost/login" style="content: '';"><br/>去登录页面</a></h3></center><br/>-->


    <div style="height:30px;"></div>


</div>


</body>
</html>