








<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>创客圈</title>
    <link rel="stylesheet" href="/static/css/public.css"/>
    <link rel="stylesheet" href="/static/css/header.css"/>
    <link rel="stylesheet" href="/static/css/maker_circle.css"/>
</head>
<body>
<!-- ----------------------header头部-------->

<div style="position: relative; min-width: 1200px">
    <div class="header clearfix">
        <div class="nav-top">
            <div class="logo">
                <img src="/static/img/logo.jpg"/>
            </div>
            <ul class="nav-top-list">
                <li >
                    <a href="/">首页</a>
                </li>
                <li >
                    <span></span>
                    <a href="javascript:">关于我们</a>
                    <div class="list-2">
                        
                        <div><a href="/pcaboutus.html">公司简介</a></div>
	                    <div><a href="/pcevent.html">大事记</a></div>
	                    <div><a href="/pcpartner.html">合作伙伴</a></div>
	                    <div><a href="/pccompany.html">全产业链平台</a></div>
                        
                    </div>
                </li>
                <li >
                    <span></span>
                    <a href="javascript:">服务平台</a>
                    <div class="list-2">
                        <div><a href="/pcMakerSpace.html">众创空间</a></div>
                        <div><a href="/pcDesignDepart.html">全产业链设计整合</a></div>
                        <div><a href="/pcResearchDepart.html">联合创新研究院</a></div>
                        <div><a href="/pcNetwork.html">网络科技</a></div>
                        <div><a href="/pcTraining.html">渝力培训</a></div>
                        <div><a href="/pcInvestment.html">投资金融</a></div>
                        <div style="height: 50px;line-height: 18px;padding: 5px 0px;box-sizing: border-box;"><a href="/pcresearchInstitute.html">重庆浪尖智能科技研究院有限公司</a></div>
                    </div>
                </li>
                <li >
                    <span></span>
                    <a href="javascript:">新闻资讯</a>
                    <div class="list-2">
                        <div><a href="/pc/companynews.html">公司资讯</a></div>
                        <div><a href="/pc/companynews.html?NEWSTYPE=2">集团资讯</a></div>
                        <div><a href="/pc/activity-0.html">活动报道</a></div>
                    </div>
                </li>
                <li class='now-lit'>
                    <span></span>
                    <a href="javascript:">D+M</a>
                    <div class="list-2">
                        <div><a href="/pc/gencircles.html">创客圈</a></div>
                        <div><a href="/pc/gencircles.html#qyshj">传统企业升级</a></div>
                        <div><a href="/pc/gencircles.html#keycg">科研成果转化</a></div>
                    </div>
                </li>
                <li >
                    <span></span>
                    <a href="javascript:">联系我们</a>
                    <div class="list-2">
                        <div><a href="/pc/message/tomessage.html">联系我们</a></div>
                        <div><a href="/pc/designs/todesigns.html">设计集群</a></div>
                        <div><a href="/pc/recruit/torecruit.html">招贤纳士</a></div>
                    </div>
                </li>

            </ul>
            <div class="wozubo">
                <a href="/pc/enter/toenter.html">
                    <img src="/static/img/min_icon/woyrz.png" alt=""/>
                    <span>我要入驻</span>
                </a>
            </div>
        </div>
    </div> 
    
    
    
</div>






















<div class="qujtp" style="background: url(/static/img/bg-sun.jpg) no-repeat center;"></div>

<!-- ---------------------------------------内容-->
<div>
    <div class="banngd_01" style="background-image: url('/static/img/shouylb_04_01.jpg')"><a href="/pc/enter/toenter.html" style="display: block;width: 100%;height: 100%;"></a></div>
    <div id="qyshj" class="banngd_01" style="background-image: url('/static/img/hbgqy.jpg')"></div>
    <div id="keycg" class="banngd_02" style="background-image: url('/static/img/shouylb_02_01.jpg')"></div>
</div>

<!-- 底部-->

<div class="btm_content">
    <div class="btm_center">
        <div class="btm_nav clearfix">
            <ul class="btm_line">
                <li class="gy"><a href="javascript:void(0)">关于我们</a></li>
                <li><a href="/pcaboutus.html">公司简介</a></li>
                <li><a href="/pcevent.html">大事记</a></li>
                <li><a href="/pcpartner.html">合作伙伴</a></li>
                <li><a href="/pccompany.html">全产业链平台</a></li>
            </ul>
            <ul class="btm_line">
                <li class="gy"><a href="javascript:void(0)">服务平台</a></li>
                <li><a href="/pcMakerSpace.html">众创空间</a></li>
				<li><a href="/pcDesignDepart.html">全产业链设计整合</a></li>
				<li><a href="/pcResearchDepart.html">联合创新研究院</a></li>
				<li><a href="/pcNetwork.html">网络科技</a></li>
				<li><a href="/pcTraining.html">渝力培训</a></li>
				<li><a href="/pcInvestment.html">投资金融</a></li>
				<li><a href="/pcresearchInstitute.html">重庆浪尖智能科技研究院有限公司</a></li>
            </ul>
            <ul class="btm_line">
                <li class="gy"><a href="javascript:void(0)">新闻资讯</a></li>
                <li><a href="/pc/companynews.html">公司资讯</a></li>
                <li><a href="/pc/companynews.html?NEWSTYPE=2">集团资讯</a></li>
                <div><a href="/pc/activity-0.html">活动报道</a></div>
            </ul>
            <ul class="btm_line">
                <li class="gy"><a href="javascript:void(0)">D+M</a></li>
                <li><a href="/pc/gencircles.html">创客圈</a></li>
				<li><a href="javascript:void(0)">传统企业升级</a></li>
				<li><a href="javascript:void(0)">科研成果转换</a></li>
            </ul>
            <ul class="btm_line">
                <li class="gy"><a href="javascript:void(0)">联系我们</a></li>
                <li><a href="/pc/message/tomessage.html">联系我们</a></li>
				<li><a href="/pc/designs/todesigns.html">设计集群</a></li>
				<li><a href="/pc/recruit/torecruit.html">招贤纳士</a></li>
            </ul>
        </div>
        <div class="btm_right">
            <p class="fs colred">以工业设计全产业链为核心的半开放式创新及产业化服务平台</p>
            <p class="colred">D+M浪尖智造工场</p>
            <p>重庆市沙坪坝区大学城南路1号D+M大厦</p>
            <p class="emao">Email: dplusm@artopcq.com</p>
            <p class="colred">重庆浪尖渝力科技有限公司</p>
            <p>重庆市沙坪坝区大学城南路1号D+M大厦</p>
            <p><span>Tel : +023-65713020</span></p>
            <p class="emao"><span>Fax : 023-65333785</span><span>Email : oc@artopcq.com</span></p>
            <p class="colred">重庆浪尖智能科技研究院有限公司</p>
            <p>重庆市沙坪坝区大学城南路1号D+M大厦</p>
            <p><span>Tel : +862365389917</span></p>
            <p class="emao"><span>Email : oc@artopcq.com</span></p>
            <div class="wxqqxl">
                <div>
                    <img src="/static/img/min_icon/qq.png" alt=""/>
                </div>
                <div>
                    <img src="/static/img/min_icon/wx.png" alt=""/>
                    <div class="erweimbox">
                            <img src="/static/img/erweima.png" alt=""/>
                    </div>
                </div>
                <div>
                	<a href="http://www.weibo.com/u/5821774993">
                    <img src="/static/img/min_icon/wb.png" alt=""/>
                    </a>
                </div>
            </div>
        </div>
        <div class="renz">
            <ul class="clearfix">
                <li class="l-1">
                    <a target="_blank" href="http://www.artopgroup.com"></a>
                </li>
                <li class="l-2">
                    <a target="_blank" href="http://www.artopcn.com"></a>
                </li>
                <li class="l-3">
                    <a target="_blank" href="http://www.artopinno.com"></a>
                </li>
                <li class="l-4">
                    <a target="_blank" href="http://www.artopcul.cn"></a>
                </li>
                <li class="l-5">
                    <a target="_blank" href="http://www.artopgroup.com"></a>
                </li>
                <!-- <li class="l-6">
                    <a href="javascript:"></a>
                </li> -->
            </ul>
            <p>
                Copyright © 2015 D+M CREATIVE HUS|<span> 渝ICP备16000776号-5</span>|<span> 隐私策略</span>|<span> 使用条款</span>
            </p>
        </div>
    </div>
</div>
<style>
	.wxqqxl > div{position: relative;}

	.erweimbox{
	    position: absolute;
	    top: 45px;
	    left: 50%;
	    margin-left: -50px;
	    z-index: 9;
	    width: 100px;
	    height: 100px;
	    display: none;
	}
	.erweimbox img{
	    width: 100%;
	    height: 100%;
	}
	.wxqqxl > div:hover .erweimbox{
	    display: block;
	}
</style>
</body>
</html>