<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Basic DataGrid - jQuery EasyUI Demo</title>
    <link rel="stylesheet" type="text/css" href="/js.plugins/easyui/themes/default/easyui.css"/>
    <link rel="stylesheet" type="text/css" href="/js.plugins/easyui/themes/icon.css"/>
    <!--<script type="text/javascript" src="../../jquery.min.js"></script>-->
    <script type="text/javascript" src="/js.plugins/jquery/jQuery1.7.js"></script>
    <script type="text/javascript" src="/js.plugins/easyui/jquery.min.js"></script>
</head>
<body>
<p>The DataGrid is created from markup, no JavaScript code needed.</p>
<div>
    <h2>This is a simple Easyui demo for tree</h2>
</div>
<hr/>
<div>

    <table>
        <!--地区-->
        <tr>
            <td><span class="format-title">地区：</span></td>
            <td>
                <select id="areas"
                        class="easyui-combobox "
                        data-options="valueField:'serviceTypeId',textField:'serviceType',panelHeight:'auto'"
                        style="width:200px">
                </select>
            </td>
        </tr>
    </table>
</div>

<script>

    $(function () {
        console.log("渲染树");
        areas();
    });

    //渲染 areas 的下拉树
    function areas() {
        //ajax获取树形 需要的数据
        var list = {};
        var url = "/areas";
        list = postFun(url);
        console.log(list);
        //组装树
        var backList = getTreeData(list);

        //加载  树
        $('#areas').combotree({
            data: backList,
            multiple: true,
            panelHeight: 'auto'
        });
    }


    //============================================
    //                                                工具
    //============================================

    //查詢数据
    function postFun(url) {
        var back;
        $.ajax({
            url: url,
            type: "POST",
            datType: "JSON",
            contentType: "application/json",
            // data: jsonString,
            async: false,
            success: function (data) {
                // console.log(data);
                back = data.object;

                /*             if (data) {

                             } else {
                                 //  $.messager.alert("温馨提示!", "网络错误,请重试", "warning");
                                 console.log('网络错误');
                             }*/
            },
            error: function (request) {
                $.messager.alert("温馨提示!", "网络错误", "warning");
                console.log('网络错误' + request);

            }
        });
        return back;
    }

    //创建节点
    function createNode(pp) {
        var node = new Object();
        node.id = pp.areaCode;
        node.text = pp.areaName;
        return node;
    }

    //传入node返回带id的 area
    function createArea(nodeId) {
        var area = new Object();
        area.areaCode = nodeId;
        return area;
    }


    //组装 tree data
    function getTreeData(list) {
        alert(list);

        var backList = [];//返回数据

        //1 创建根结点node
        var country = {};//国
        var node = new Object();

        node.id = "000000";
        node.text = "中国";
        console.log(node);


        var children = [];
        for (var provinceIndex = 0; provinceIndex < list.length; provinceIndex++) {//市的list展开31省
            var province = list.children[provinceIndex];//province 对象 有children---  省
            if (1 == province.areaLevel) {//市
                var pNode = createNode(province);
                pNode.state = "open";
                var pChildren = [];
                for (var cityIndex = 0; cityIndex < province.children.length; cityIndex++) {//市的list
                    var city = province.children[cityIndex];
                    if (2 == city.areaLevel) {
                        var cNode = createNode(city);
                        cNode.state = "closed"; //state的 closed 和 open 不就是控制子菜单关闭和展示
                        var cChildren = [];
                        for (var districtIndex = 0; districtIndex < city.children.length; districtIndex++) {//区的list
                            var district = city.children[districtIndex];
                            var dNode = createNode(district);
                            cChildren.push(dNode);
                        }
                    }
                    pChildren.push(cNode);
                }
                children.push(pNode);
                node.children = children; //上一级装下一级节点集合
                backList.push(node); //1级 节点集合
            }
        }
        console.log(backList);
        return backList;
    }
</script>

</body>
</html>