<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta content="text/html;charset=UTF-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1"/>
    <!--<link th:href="@{/bootstrap/css/bootstrap-theme.min.css}" rel="stylesheet"/>-->
    <!--<link href="/js.plugins/bootstrap/dist/css/bootstrap.css" rel="stylesheet"></link>-->
    <!--<link href="/js.plugins/bootstrap/dist/css/bootstrap-theme.css" rel="stylesheet"></link>-->

    <link th:href="@{/js.plugins/bootstrap/dist/css/bootstrap.css}" rel="stylesheet"/>
    <link th:href="@{/js.plugins/bootstrap/dist/css/bootstrap-theme.css}" rel="stylesheet"/>
    <script type="text/javascript" src="/js.plugins/jquery/jQuery.js"></script>
    <script type="text/javascript" src="/js.plugins/bootstrap/dist/js/bootstrap.js"></script>

</head>
<body>
<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">访问model</h3>
    </div>
    <div class="panel-body">
        <span th:text="${singlePerson.name}"></span>
    </div>
</div>
<div th:if="${not #lists.isEmpty(people)}">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">列表</h3>
        </div>
        <div class="panel-body">
            <ul class="list-group">
                <li class="list-group-item" th:each="person : ${people}">
                    <span th:text="${person.name}"></span>
                    <span th:text="${person.age}"></span>
                    <button class="btn" th:onlick="'getName(\''+${person.name}+'\');'">获得名字</button>
                </li>
            </ul>
        </div>
    </div>
</div>

<div>
    xmlns:th="http://www.thymeleaf.org"命名空间，
    将静态转化为动态的视图，需要进行动态处理的元素使用“th:”前缀；两个link引入bootstrap框架，
    通过@{}引入web静态资源（括号里面是资源路径）访问model中的数据通过${}访问，案例
</div>
<script th:inline="javascript">
    var single = [[${singlePerson}]];
    console.log(single.name+"/"+single.age);
    function getName(name) {
        console.log(name);
    }
</script>
</body>
</html>