<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.com.besttone.csp.mapper.CustomPackageOrderMapper" >
  <resultMap id="BaseResultMap" type="cn.com.besttone.csp.model.custom.CustomPackageOrder" >
    <id column="order_no" property="orderNo" />
    <result column="custom_id" property="customId" />
    <result column="telephone" property="telephone" />
    <result column="contact_tel" property="contactTel" />
    <result column="custome_name" property="customeName" />
    <result column="contact_name" property="contactName" />
    <result column="opening_mode" property="openingMode" />
    <result column="pay_way" property="payWay" />
    <result column="channel" property="channel" />
    <result column="amount" property="amount" />
    <result column="all_amount" property="allAmount" />
    <result column="discount_amount" property="discountAmount" />
    <result column="pay_amount" property="payAmount" />
    <result column="create_date" property="createDate" />
    <result column="pay_date" property="payDate" />
    <result column="status" property="status" />
    <result column="id_no" property="idNo" />
    <result column="logo" property="logo" />
    <result column="type" property="type" />
    <result column="invoice_head" property="invoiceHead" />
    <result column="invoice_body" property="invoiceBody" />
    <result column="update_time" property="updateTime" />
    <result column="push_times" property="pushTimes" />
    <result column="push_flag" property="pushFlag" />
    <result column="create_time" property="createTime" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from `t_custom_package_order`
    where order_no = #{orderNo}
  </delete>
  <insert id="insert" parameterType="cn.com.besttone.csp.model.custom.CustomPackageOrder" >
    insert into `t_custom_package_order` (order_no, custom_id, telephone, contact_tel, custome_name, contact_name, 
      opening_mode, pay_way, channel, amount, all_amount, discount_amount, 
      pay_amount, create_date, pay_date, status, id_no, logo, type, 
      invoice_head, invoice_body, update_time, push_times, push_flag, create_time
      )
    values (#{orderNo}, #{customId}, #{telephone}, #{contactTel}, #{customeName}, #{contactName}, 
      #{openingMode}, #{payWay}, #{channel}, #{amount}, #{allAmount}, #{discountAmount}, 
      #{payAmount}, #{createDate}, #{payDate}, #{status}, #{idNo}, #{logo}, #{type}, 
      #{invoiceHead}, #{invoiceBody}, #{updateTime}, #{pushTimes}, #{pushFlag}, #{createTime}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="cn.com.besttone.csp.model.custom.CustomPackageOrder" >
    update `t_custom_package_order`
    set custom_id = #{customId},
      telephone = #{telephone},
      contact_tel = #{contactTel},
      custome_name = #{customeName},
      contact_name = #{contactName},
      opening_mode = #{openingMode},
      pay_way = #{payWay},
      channel = #{channel},
      amount = #{amount},
      all_amount = #{allAmount},
      discount_amount = #{discountAmount},
      pay_amount = #{payAmount},
      create_date = #{createDate},
      pay_date = #{payDate},
      status = #{status},
      id_no = #{idNo},
      logo = #{logo},
      type = #{type},
      invoice_head = #{invoiceHead},
      invoice_body = #{invoiceBody},
      update_time = #{updateTime},
      push_times = #{pushTimes},
      push_flag = #{pushFlag},
      create_time = #{createTime}
    where order_no = #{orderNo}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select order_no, custom_id, telephone, contact_tel, custome_name, contact_name, opening_mode, 
    pay_way, channel, amount, all_amount, discount_amount, pay_amount, create_date, pay_date, 
    status, id_no, logo, type, invoice_head, invoice_body, update_time, push_times, push_flag, 
    create_time
    from `t_custom_package_order`
    where order_no = #{orderNo}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select order_no, custom_id, telephone, contact_tel, custome_name, contact_name, opening_mode, 
    pay_way, channel, amount, all_amount, discount_amount, pay_amount, create_date, pay_date, 
    status, id_no, logo, type, invoice_head, invoice_body, update_time, push_times, push_flag, 
    create_time
    from `t_custom_package_order`
  </select>
</mapper>