<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.com.besttone.csp.mapper.CustomPackageOrderDetailMapper" >
  <resultMap id="BaseResultMap" type="cn.com.besttone.csp.model.custom.CustomPackageOrderDetail" >
    <id column="order_no" property="orderNo" />
    <id column="package_code" property="packageCode" />
    <result column="custom_id" property="customId" />
    <result column="package_name" property="packageName" />
    <result column="package_price" property="packagePrice" />
    <result column="count" property="count" />
    <result column="create_time" property="createTime" />
    <result column="del_flag" property="delFlag" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="map" >
    delete from `t_custom_package_order_detail`
    where order_no = #{orderNo}
      and package_code = #{packageCode}
  </delete>
  <insert id="insert" parameterType="cn.com.besttone.csp.model.custom.CustomPackageOrderDetail" >
    insert into `t_custom_package_order_detail` (order_no, package_code, custom_id, package_name, package_price, 
      count, create_time, del_flag)
    values (#{orderNo}, #{packageCode}, #{customId}, #{packageName}, #{packagePrice}, 
      #{count}, #{createTime}, #{delFlag})
  </insert>
  <update id="updateByPrimaryKey" parameterType="cn.com.besttone.csp.model.custom.CustomPackageOrderDetail" >
    update `t_custom_package_order_detail`
    set custom_id = #{customId},
      package_name = #{packageName},
      package_price = #{packagePrice},
      count = #{count},
      create_time = #{createTime},
      del_flag = #{delFlag}
    where order_no = #{orderNo}
      and package_code = #{packageCode}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="map" >
    select order_no, package_code, custom_id, package_name, package_price, count, create_time, 
    del_flag
    from `t_custom_package_order_detail`
    where order_no = #{orderNo}
      and package_code = #{packageCode}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select order_no, package_code, custom_id, package_name, package_price, count, create_time, 
    del_flag
    from `t_custom_package_order_detail`
  </select>
</mapper>