<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.com.besttone.csp.mapper.CustomFamilyRecordMapper" >
  <resultMap id="BaseResultMap" type="cn.com.besttone.csp.model.custom.CustomFamilyRecord" >
    <id column="id" property="id" />
    <result column="custom_id" property="customId" />
    <result column="type" property="type" />
    <result column="content" property="content" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from `t_custom_family_record`
    where id = #{id}
  </delete>
  <insert id="insert" parameterType="cn.com.besttone.csp.model.custom.CustomFamilyRecord" useGeneratedKeys="true" keyProperty="id" >
    insert into `t_custom_family_record` (custom_id, type, content)
    values (#{customId}, #{type}, #{content})
  </insert>
  <update id="updateByPrimaryKey" parameterType="cn.com.besttone.csp.model.custom.CustomFamilyRecord" >
    update `t_custom_family_record`
    set custom_id = #{customId},
      type = #{type},
      content = #{content}
    where id = #{id}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select id, custom_id, type, content
    from `t_custom_family_record`
    where id = #{id}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select id, custom_id, type, content
    from `t_custom_family_record`
  </select>
</mapper>