<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.com.besttone.csp.mapper.CustomTypeInfoMapper" >
  <resultMap id="BaseResultMap" type="cn.com.besttone.csp.model.custom.CustomTypeInfo" >
    <id column="id" property="id" />
    <result column="package_code" property="packageCode" />
    <result column="custom_type_name" property="customTypeName" />
    <result column="pic_url" property="picUrl" />
    <result column="logo" property="logo" />
    <result column="create_time" property="createTime" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from `t_custom_type_info`
    where id = #{id}
  </delete>
  <insert id="insert" parameterType="cn.com.besttone.csp.model.custom.CustomTypeInfo" useGeneratedKeys="true" keyProperty="id" >
    insert into `t_custom_type_info` (package_code, custom_type_name, pic_url, logo, create_time)
    values (#{packageCode}, #{customTypeName}, #{picUrl}, #{logo}, #{createTime})
  </insert>
  <update id="updateByPrimaryKey" parameterType="cn.com.besttone.csp.model.custom.CustomTypeInfo" >
    update `t_custom_type_info`
    set package_code = #{packageCode},
      custom_type_name = #{customTypeName},
      pic_url = #{picUrl},
      logo = #{logo},
      create_time = #{createTime}
    where id = #{id}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select id, package_code, custom_type_name, pic_url, logo, create_time
    from `t_custom_type_info`
    where id = #{id}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select id, package_code, custom_type_name, pic_url, logo, create_time
    from `t_custom_type_info`
  </select>
</mapper>