<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
>
<head>
    <title>用户登录</title>
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
</head>
<!--先定义css样式，再给html的class属性赋值-->
<style>
    .outer {
        width: 300px;
        height: 300px;
        background-color: lightpink;
        position: relative;
    }

    .inner {
        width: 200px;
        height: 200px;
        background-color: rebeccapurple;
        position: relative;
    }

    .cen {
        left: 50%;
        top: 50%;
        transform: translate(50%, 50%);
    }
</style>
<body>
<center><h1>HELLO</h1></center>
<hr>
<br>


<div class="cen">
    <h1>中间</h1>
</div>
<hr>


<hr>
<div style="border:1px red solid;width:600px;height:600px; margin:auto;margin-top:5%;">
    <style>
        .a {
            hegith: 30px;
        }
    </style>
    <div class="a"></div>
    等同于
    <div class="a" style="height:30px;"></div>


</div>
</body>
</html>